<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.apc.colnodo.piensaentic">

    <!-- To access Google+ APIs: -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".IndexManagement.Home"
            android:exported="false"
            android:screenOrientation="portrait">

        </activity>
        <activity
            android:name=".Activities.Intro.IntroActivity"
            android:exported="false"
            android:screenOrientation="portrait">

        </activity>
        <activity
            android:name=".IndexManagement.LogginActivity"
            android:screenOrientation="portrait">
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="9dfca2a3c511dbb0e808c88a7c61c538006cdee4"
            />
    </application>

</manifest>